---
layout: page
title: Curriculum
permalink: /curriculum/
redirect_from: /curriculum.html
---

    <div> <!-- /courses -->
    
    	<div class="container">
    		
  			<div class="row head1">
    			<div class="span12" >
    				<h2>Curriculum</h2>
    			</div>
      	</div> 

        <div class="span8 offset2">

        <div class="row head2" id="mobile-track">
          <div class="span8" >
            <h2>Mobile Track</h2>
          </div>
        </div> 

          <div class="row" id="android-crash"><br><br><br><br>
            <div class="span1">
              <a href="#" target="_blank"><img src="/img/logo-android.png" width="70" alt="logo"></a>
            </div>
            <div class="span7">
              <h2>Android 1-Day Crash Course</h2>
              <p>This one-day course will teach you the basics of building native mobile apps for Android.</p>
              <ul>
                <li>Using and configuring <a href="http://developer.android.com/sdk/index.html" target="_blank">Android Developer Tools Bundle</a> (including Eclipse and the Android SDK)</li>
                <li>Hello World</li>
                <li>Java language basics</li>
                <li>User interface layout with XML</li>
                <li>Multiple views</li>
                <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
                <li>Tips for <a href="https://gist.github.com/chris-allen/7506243">next steps</a></li>
              </ul>
              <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'android-crash' and course.status == 'active' %}
                <p>{{ course.date }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'android-crash' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
            </div> <!-- /span7 -->
          </div> <!-- /row -->

          <div class="row" id="ios-crash"><br><br><br><br>
            <div class="span1">
              <a href="http://www.eventbrite.com/e/iphone-development-1-day-crash-course-tickets-10533123857?aff=aincwebsite" target="_blank"><img src="/img/logo-ios.png" width="70" alt="logo"></a>
            </div>
            <div class="span7">
              <h2>iPhone Crash Course</h2>
              <p>This course will teach you the basics of native iOS development using Apple's Xcode development environment. By the end of the course, you will have created your own iPhone application.</p>
              <ul>
                <li>How to use the Xcode IDE and iOS SDK</li>
                <li>Hello World</li>
                <li>Objective-C language basics</li>
                <li>User Interface design with Storyboards</li>
                <li>Connecting multiple views and using Tab bars</li>
                <li>Importing external images</li>
                <li>Introduction to MapKit and CoreLocation frameworks</li>
                <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
              </ul>
              <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'ios-crash' and course.status == 'active' %}
                <p>{{ course.date }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'ios-crash' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
              <p>Online, anytime <a class="btn btn-info" href="https://www.udemy.com/iphone-app-crash-course/?couponCode=aincwebsite" target="_blank">Start Now</a></p>
            </div> <!-- /span7 -->
          </div> <!-- /row -->

          <div class="row" id="ios-advanced"><br><br><br><br>
            <div class="span1">
              <a href="#ios-advanced" target="_blank"><img src="/img/logo-ios.png" width="70" alt="logo"></a>
            </div>
            <div class="span7">
              <h2>iOS Advanced Course</h2>
              <p>This course will teach you advanced iOS (iPhone, iPad) development. The course is designed for people with some prior experience in object-oriented programming and the Xcode development environment.</p>
              <ul>
                <li>UI layout - with and without auto-layout</li>
                <li>Objective-C concepts (ie. categories, subclasses, protocols, blocks)</li>
                <li>Notification Center</li>
                <li>Playing Media</li>
                <li>Programmatic UI</li>
                <li>Asynchronous programming model</li>
                <li>Using the Debugger</li>
                <li>Creating your own protocols &amp; delegates</li>
                <li>If time permits we'll cover things like Memory management, Using instruments, and how to develop a universal app for both iPhone/iPod and iPad</li>
                <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
              </ul>
              <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'ios-advanced' and course.status == 'active' %}
                <p>{{ course.date }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'ios-advanced' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
            </div> <!-- /span7 -->
          </div> <!-- /row -->

        <div class="row head2" id="web-track">
          <div class="span8" >
            <h2>Web Track</h2>
          </div>
        </div> 

          <div class="row" id="basicweb-crash"><br><br><br><br>
            <div class="span1">
              <a href="http://awesomeincu-web-day.eventbrite.com" target="_blank"><img src="/img/logo-html.png" width="70" alt="logo"></a>
            </div>
            <div class="span7">
              <h2>Basic Web Development 1-Day Crash Course</h2>
              <p>This one-day course will teach you the basics of front-end web development with HTML and CSS. It will also cover several popular ways to get a website online including Weebly, Wordpress, and self-hosting.</p>
              <ul>
                <li>Overview of front-end web technologies including HTML and CSS</li>
                <li>How to use a text editor, FTP client, and Google Chrome web developer tools</li>
                <li>Setting up a local development environment</li>
                <li>Publishing a website with Weebly, Tumblr, and Wordpress.com</li>
                <li>Collecting user data through the Forms tool in Google Drive</li>
                <li>Embedding media content, including images, YouTube videos, and Tweets</li>
                <li>Registering a domain name and deploying to a web server</li>
                <li>Introduction to web frameworks including Bootstrap and JQuery</li>
                <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
              </ul>
              <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'basicweb-crash' and course.status == 'active' %}
                <p>{{ course.date }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'basicweb-crash' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
              <p>Online, anytime <a class="btn btn-info" href="https://www.udemy.com/basic-web-crash-course/?couponCode=aincwebsite" target="_blank">Start Now</a></p>
            </div> <!-- /span7 -->
          </div> <!-- /row -->

          <div class="row" id="frontweb2-crash"><br><br><br><br>
            <div class="span1">
              <a href="http://awesomeincu-front-end-web-2.eventbrite.com/?aff=aincwebsite" target="_blank"><img src="/img/logo-html.png" width="70" alt="logo"></a>
            </div>
            <div class="span7">
              <h2>Front-End Web Development, Level 2, Crash Course</h2>
              <p>This one-day course moves beyond the basics to help you take your web development skills to the next level. Learn how to integrate well-designed themes and templates, build responsive pages that look great on both desktop and mobile, and make the whole thing load faster for your visitors.</p>
              <ul>
                <li>Responsive design with HTML5 Boilerplate, Initializr, and Bootstrap</li>
                <li>How to use Themeforest and 99 Designs to make your site look great</li>
                <li>Web Typography with Google Fonts</li>
                <li>Intermediate-level styling with CSS</li>
                <li>Basic uses of JQuery and Javascript</li>
                <li>Page Speed Optimization</li>
                <li>Demos of LAMP stack, Meteor.js, and Ruby on Rails</li>
                <li>Extras: Mailchimp responsive emails, intro to Github Pages and Jekyll, Comments with Facebook and Disqus</li>
                <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
              </ul>
              <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'frontweb2-crash' and course.status == 'active' %}
                <p>{{ course.date }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'frontweb2-crash' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
            </div> <!-- /span7 -->
          </div> <!-- /row -->

          <div class="row" id="rubyonrails-crash"><br><br><br><br>
            <div class="span1">
              <a href="#" target="_blank"><img src="/img/logo-rails.png" width="70" alt="logo"></a>
            </div>
            <div class="span7">
              <h2>Ruby on Rails 1-Day Crash Course</h2>
              <p>This one-day course will teach you the basics of the Ruby language and the Rails development framework.</p>
              <ul>
                <li>Using a virtual environment with VirtualBox and Vagrant</li>
                <li>Working with a text editor and the command line</li>
                <li>Configuring Ruby and Rails development environments</li>
                <li>Hello world</li>
                <li>Overview of the Ruby language and Object-Oriented Programming paradigm</li>
                <li>Introduction the Rails framework</li>
                <li>Building your first Rails application</li>
                <li>Deployment via Heroku</li>
                <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
              </ul>
              <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'rubyonrails-crash' and course.status == 'active' %}
                <p>{{ course.date }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'rubyonrails-crash' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
            </div> <!-- /span7 -->
          </div> <!-- /row -->

          <div class="row" id="php-crash"><br><br><br><br>
            <div class="span1">
              <a href="http://www.eventbrite.com/e/php-web-development-1-day-crash-course-tickets-10532987449?aff=aincwebsite" target="_blank"><img src="/img/logo-php.png" width="70" alt="logo"></a>
            </div>
            <div class="span7">
              <h2>PHP 1-Day Crash Course</h2>
              <p>This one-day course will teach you the basics of building dynamic websites with PHP and MySQL.</p>
              <ul>
                <li>Setting up the LAMP stack (Linux, Apache, MySQL, PHP) and its variants</li>
                <li>Introduction to the PHP language</li>
                <li>Hello world</li>
                <li>Using PHP to create dynamic HTML pages</li>
                <li>Collecting form data</li>
                <li>Using PHPMyAdmin to view and edit MySQL tables</li>
                <li>Pulling data from APIs</li>
                <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
              </ul>
              <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'php-crash' and course.status == 'active' %}
                <p>{{ course.date }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'php-crash' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
            </div> <!-- /span7 -->
          </div> <!-- /row -->

          <div class="row" id="yii-php"><br><br><br><br>
            <div class="span1">
              <a href="http://awesome-yii-php.eventbrite.com/?aff=aincwebsite" target="_blank"><img src="/img/logo-yii.png" width="70" alt="logo"></a>
            </div>
            <div class="span7">
              <h2>Yii PHP Framework 1-Week Advanced Course</h2>
              <p>This one-week course will train experienced PHP5 developers how to build and deploy <a href="http://www.yiiframework.com/">Yii Framework</a> applications. While PHP5 skills of students will be varied, this is not intended to be a PHP5 or JavaScript core class. Upon completion of the course, students will be familiar with Yii, Github, and deployment. Participants will create a sample application from scratch to demonstrate relevant knowledge for developing new applications. Special course from the <a href="http://volarvideo.com">Volar Video</a> and <a href="iHigh.com">iHigh.com</a> teams.</p>
              <ul>
                <li>Development Environment Setup (localhost)</li>
                <li>Yii Basics - MVC, Active Record</li>
                <li>Hello World Demo</li>
                <li>Sample Application Review</li>
                <li>CRUD</li>
                <li>User Access Control</li>
                <li>User Interface (layouts, themes, etc.)</li>
                <li>Yii Modules</li>
              </ul>
              <h4>Course Dates</h4>
              <p>TBD</p>
            </div> <!-- /span7 -->
          </div> <!-- /row -->

          <div class="row" id="python-crash"><br><br><br><br>
            <div class="span1">
              <a href="#" target="_blank"><img src="/img/logo-python.png" width="70" alt="logo"></a>
            </div>
            <div class="span7">
              <h2>Python 1-Day Crash Course</h2>
              <p>This one-day course will teach you the basics of programming with Python with an introduction to the Django web development framework.</p>
              <ul>
                <li>Working with a text editor and the command line</li>
                <li>Configuring Python and Django development environments</li>
                <li>Hello world</li>
                <li>Overview of the Python language and basic programming principles</li>
                <li>Introduction the Django framework</li>
                <li>Building your first Django application</li>
                <li>Introduction to using Python libraries</li>
                <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
              </ul>
              <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'python-crash' and course.status == 'active' %}
                <p>{{ course.date }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'python-crash' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
            </div> <!-- /span7 -->
          </div> <!-- /row -->

          <div class="row" id="javascript-crash"><br><br><br><br>
            <div class="span1">
              <a href="#" target="_blank"><img src="/img/logo-js.png" width="70" alt="logo"></a>
            </div>
            <div class="span7">
              <h2>JavaScript 1-Day Crash Course</h2>
              <p>This one-day course will teach you the basics of interactive webpages using JavaScript.</p>
              <ul>
                <li>Overview of the JavaScript language and programming paradigms</li>
                <li>Working with the DOM</li>
                <li>JavaScript libraries including JQuery</li>
                <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
              </ul>
              <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'javascript-crash' and course.status == 'active' %}
                <p>{{ course.date }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'javascript-crash' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
            </div> <!-- /span7 -->
          </div> <!-- /row -->

          <div class="row" id="jekyll-udemy"><br><br><br><br>
            <div class="span1">
              <a href="https://www.udemy.com/jekyll-and-github-pages/?couponCode=aincwebsite" target="_blank"><img src="/img/logo-jekyll-udemy.png" width="70" alt="logo"></a>
            </div>
            <div class="span7">
              <h2>Using Jekyll And GitHub Pages To Create Websites</h2>
              <p>Jekyll is the world's most popular static-site generator. This enables web developers to use many of the features of server-side Content Management Systems (like templates, themes, and blog-awareness) while taking advantage of the speed, security, and simplicity of static sites. Plus, this mighty little Ruby script lives on both your computer and on GitHub's servers, which means you get super-fast hosting that's only a `git push` away, and free for you and all your collaborators!</p>
              <ul>
                <li>Why static site generators like Jekyll are awesome</li>
                <li>Installing Jekyll as a Ruby Gem</li>
                <li>Creating a GitHub account and adding GitHub Pages</li>
                <li>Creating Posts and Pages</li>
                <li>Implementing Themes and Templating with Liquid</li>
                <li>Using Plugins and Data</li>
                <li>Migrating content from Wordpress</li>
                <li>Cloud-based content editing with Prose.io</li>
              </ul>
              <h4>Course Dates</h4>
              <p>Online, anytime <a class="btn btn-info" href="https://www.udemy.com/jekyll-and-github-pages/?couponCode=aincwebsite" target="_blank">Start Now</a></p>
            </div> <!-- /span7 -->
          </div> <!-- /row -->

        <div class="row head2" id="game-track">
          <div class="span8" >
            <h2>Game Track</h2>
          </div>
        </div> 

          <div class="row" id="unity-crash"><br><br><br><br>
            <div class="span1">
              <a href="#" target="_blank"><img src="/img/logo-unity3d.png" width="70" alt="logo"></a>
            </div>
            <div class="span7">
              <h2>Unity 1-Day Crash Course</h2>
              <p>This one-day course will teach you the basics of video game development with Unity Game Engine.</p>
              <ul>
                <li>Using the Unity Game Engine development environment</li>
                <li>Working with rigid body game elements</li>
                <li>Overview of physics and collisions</li>
                <li>Programming with the C# language using MonoDevelop</li>
                <li>Working with textures and sounds</li>
                <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
              </ul>
              <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'unity-crash' and course.status == 'active' %}
                <p>{{ course.date }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'unity-crash' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
            </div> <!-- /span7 -->
          </div> <!-- /row -->

          <div class="row head2" id="k12-track">
            <div class="span8" >
              <h2>K-12 Student / Teacher Track</h2>
            </div>
          </div> 

            <div class="row" id="k12-hour"><br><br><br><br>
              <div class="span1">
                <a href="hourofcode.html" target="_blank"><img src="/img/logo-csedweek2013.png" width="70" alt="logo"></a>
              </div>
              <div class="span7">
                <h2>Hour of Code</h2>
                <p>A <a href="../hourofcode">one-hour introduction</a> to Computer Science through a variety of interactive tutorials, specially-designed for K-12 students.</p>
                <ul>
                  <li>Logic and Loops with a maze activity featuring Angry Birds and Plants vs Zombies</li>
                  <li>Learning variables, functions, and Javascript syntax with Codecademy</li>
                  <li>Creating shapes from code with Processing.org</li>
                  <li>Learning coding and program execution with My Robotic Friends from ThinkerSmith</li>
                  <li>1-on-1 support from our <a href="/#instructors">instructional team</a></li>
                </ul>
                <h4>Course Dates</h4>
                <p>On-request <a class="btn btn-info" href="https://docs.google.com/forms/d/1vIHhrrct5zISCJ44FYlm0xD9D5ZCKh-Cbw_B6Uu7H6Y/viewform" target="_blank">Get Info</a></p>
              </div> <!-- /span7 -->
            </div> <!-- /row -->

            <div class="row" id="k12-day"><br><br><br><br>
              <div class="span1">
                <a href="http://www.eventbrite.com/e/kids-code-camp-dayofcode-tickets-9821565567?aff=aincwebsite" target="_blank"><img src="/img/Day-of-Code-Logo.png" width="70" alt="logo"></a>
              </div>
              <div class="span7">
                <h2>Day of Code</h2>
                <p>A one-day experience for middle and high school students interested in programming. By the end of the course, students will have a basic understanding of variables, logic, and loops, experience with JavaScript syntax, and will have written at least 2 of their own programs.</p>
                <ul>
                  <li>Introduction to Computer Science concepts</li>
                  <li>Building games with Scratch</li>
                  <li>The basics of writing code with Javascript</li>
                  <li>Integrating Javascript in to an HTML page</li>
                  <li>Setting up accounts on Scratch and Codecademy (to continue work after the course)</li>
                  <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
                </ul>
                <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'k12-day' and course.status == 'active' %}
                <p>{{ course.date }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'k12-day' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
              </div> <!-- /span7 -->
            </div> <!-- /row -->

            <div class="row" id="k12-week"><br><br><br><br>
              <div class="span1">
                <a href="http://www.eventbrite.com/e/kids-code-camp-weekofcode-tickets-9821589639?aff=aincwebsite" target="_blank"><img src="/img/courses/code-camp.png" width="70" alt="logo"></a>
              </div>
              <div class="span7">
                <h2>Kids Code Camp</h2>
                <p>Instead of your kids spending their free time playing apps, what if they spent it learning to write them? This camp for middle and high school students will teach the fundamentals of coding. Students will create websites, mobile apps and learn to design video games all while having fun with our energetic team. By the end of the week, each student will have built at least 1 web page, mobile app, and video game using HTML, CSS, JavaScript, Android, and Unity 3D. We keep this camp small to ensure everyone gets very focused attention and learns at their own pace. Prepare to be amazed!</p>
                <ul>
                  <li>Introduction to Computer Science concepts with Code.org</li>
                  <li>Learning to write code with JSBin and Codecademy</li>
                  <li>Web Development with HTML, CSS, and JavaScript</li>
                  <li>Mobile App Development with Android</li>
                  <li>Video Game Development with Unity 3D</li>
                  <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
                  <li>Final project presentations at the end of the week</li>
                </ul>
                <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'k12-week' and course.status == 'active' %}
                <p>{{ course.date }}, {{ course.time }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'k12-week' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
              </div> <!-- /span7 -->
            </div> <!-- /row -->

            <div class="row" id="academy"><br><br><br><br>
              <div class="span1">
                <a href="/academy/" target="_blank"><img src="/img/logo_big.png" width="70" alt="logo"></a>
              </div>
              <div class="span7">
                <h2>The Academy</h2>
                <p>Designed for Middle and High School students, the Awesome Inc Academy is our premier program for students who want to learn to code. The Academy's first season has been a great success, and like a sports team for Lexington's most talented aspiring programmers, we're excited to recruit new team members to join us this Spring. By the end our 3-month season of The Academy, each student will complete several small applications, and work on one large project to be used in the real world.</p>
                <ul>
                  <li>Make your own Apps, Games and Websites</li>
                  <li>Learn principles of computer science</li>
                  <li>Meet professional programmers from local tech companies</li>
                  <li>Blended Learning environment</li>
                  <li>1-on-1 support from our <a href="/#instructors">instructional team</a></li>
                  <li>Final project presentations in April</li>
                </ul>
                <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'academy' and course.status == 'active' %}
                <p>{{ course.date }}, {{ course.time }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'academy' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
              </div> <!-- /span7 -->
            </div> <!-- /row -->

            <div class="row" id="k12-teacher"><br><br><br><br>
              <div class="span1">
                <a href="#" target="_blank"><img src="/img/logo_big.png" width="70" alt="logo"></a>
              </div>
              <div class="span7">
                <h2>Professional Development - #learntocode for Educators</h2>
                <p>This one-day course is meant for educators who want to integrate basic computer programming activities into their curriculum.</p>
                <ul>
                  <li>How computers work (hardware and software)</li>
                  <li>Introduction to Computer Science (variables, logic, control, algorithms)</li>                  
                  <li>Overview of programming languages</li>
                  <li>How to develop across popular platforms (web, mobile, video games)</li>
                  <li>Activities on a variety of popular learn-to-code platforms (Scratch, Codecademy, Khan Academy)</li>
                  <li>Create accounts on popular blog and website hosting services</li>
                  <li>Sandbox time with 1-on-1 support from our <a href="/#instructors">instructional team</a></li>
                </ul>
                <h4>Course Dates</h4>
              {% for course in site.data.course-list-eventbrite %}
                {% if course.curriculum == 'k12-teacher' and course.status == 'active' %}
                <p>{{ course.date }} <a class="btn btn-red" href="{{ course.url }}" target="_blank">Register</a></p>
                {% elsif course.curriculum == 'k12-teacher' and course.status == 'inactive' %}
                <p>TBD</p>
                {% endif %}
              {% endfor %}
              </div> <!-- /span7 -->
            </div> <!-- /row -->


          </div>
        </div> <!-- /container -->
      </div> <!-- /courses -->
