    <!-- TABLE ############################################### -->	
	
			<table class="classtable" border="1">
				<tr>
		   		 <td colspan="4">
		   		<!-- Begin MailChimp Signup Form -->
		
		   			<br>
		   			<center><h3>Stay Connected + Learn About Upcoming Courses</h3></center>
		   			<br>
		   		<div id="mc_embed_signup">
		   		<form style="padding:0px" action="http://awesomeinc.us2.list-manage1.com/subscribe/post?u=5114422b2183673d50186748d&amp;id=159107e690" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		   			<input style="margin: auto; padding: 1px 0px;" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		   			<div class="clear"><input style="margin: auto;margin-top: 1em" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		   		</form>
		   		</div>
		   		</td>
		   		</tr>
		   		<!--End mc_embed_signup-->
	  
			    <tr><th>Date/Time</th><th>Course</th><th>Price</th><th>Availability</th></tr>
			    
			    {% comment %} 
			    To make changes to course date/time/price or active state, see _data/course-list.yml
			    {% endcomment %}

				{% for course in site.data.course-list-eventbrite %}
				{% if course.curriculum == 'minecraft' && course.status == 'active' %}
				
				<tr><td><a href="/curriculum/#{{ course.curriculum }}"><img src="/img/{{ course.logo }} " alt="{{ course.title }}" width="40"></a>&nbsp;&nbsp;{{ course.date }}, {{ course.time }}</td><td><a href="/curriculum/#{{ course.curriculum }}">{{ course.title }}</a><br></td><td> {% if course.student-price %} ${{ course.student-price }} (students), {% endif %} {% if course.early-bird-price %} ${{ course.early-bird-price }} (early bird - ends {{ course.early-bird-date }}), {% endif %} ${{ course.standard-price }} (standard)</td><td><center><a class="btn btn-red btn-large" href="{{ course.url }}" target="_blank">Register</a></center></td></tr>
				
				{% endif %}
				{% endfor %}
				
				{% for course in site.data.course-list-eventbrite %}
				{% if course.curriculum == 'academy' && course.status == 'active' %}
				
				<tr><td><a href="/curriculum/#{{ course.curriculum }}"><img src="/img/{{ course.logo }} " alt="{{ course.title }}" width="40"></a>&nbsp;&nbsp;{{ course.date }}, {{ course.time }}</td><td><a href="/curriculum/#{{ course.curriculum }}">{{ course.title }}</a><br></td><td> {% if course.student-price %} ${{ course.student-price }} (students), {% endif %} {% if course.early-bird-price %} ${{ course.early-bird-price }} (early bird - ends {{ course.early-bird-date }}), {% endif %} ${{ course.standard-price }} (standard)</td><td><center><a class="btn btn-red btn-large" href="{{ course.url }}" target="_blank">Register</a></center></td></tr>
				
				{% endif %}
				{% endfor %}

				{% for course in site.data.course-list-eventbrite %}
				{% if course.curriculum == 'club' && course.status == 'active' %}
				
				<tr><td><a href="/curriculum/#{{ course.curriculum }}"><img src="/img/{{ course.logo }} " alt="{{ course.title }}" width="40"></a>&nbsp;&nbsp;{{ course.date }}, {{ course.time }}</td><td><a href="/curriculum/#{{ course.curriculum }}">{{ course.title }}</a><br></td><td> {% if course.student-price %} ${{ course.student-price }} (students), {% endif %} {% if course.early-bird-price %} ${{ course.early-bird-price }} (early bird - ends {{ course.early-bird-date }}), {% endif %} ${{ course.standard-price }} (standard)</td><td><center><a class="btn btn-red btn-large" href="{{ course.url }}" target="_blank">Register</a></center></td></tr>
				
				{% endif %}
				{% endfor %}

				{% for course in site.data.course-list-eventbrite %}
				{% if course.curriculum == 'k12-week' && course.status == 'active' %}
				
				<tr><td><a href="/curriculum/#{{ course.curriculum }}"><img src="/img/{{ course.logo }} " alt="{{ course.title }}" width="40"></a>&nbsp;&nbsp;{{ course.date }}, {{ course.time }}</td><td><a href="/curriculum/#{{ course.curriculum }}">{{ course.title }}</a><br></td><td> {% if course.student-price %} ${{ course.student-price }} (students), {% endif %} {% if course.early-bird-price %} ${{ course.early-bird-price }} (early bird - ends {{ course.early-bird-date }}), {% endif %} ${{ course.standard-price }} (standard)</td><td><center><a class="btn btn-red btn-large" href="{{ course.url }}" target="_blank">Register</a></center></td></tr>
				
				{% endif %}
				{% endfor %}	

				{% for course in site.data.course-list-eventbrite %}
				{% if course.curriculum == 'k12-day' && course.status == 'active' %}
				
				<tr><td><a href="/curriculum/#{{ course.curriculum }}"><img src="/img/{{ course.logo }} " alt="{{ course.title }}" width="40"></a>&nbsp;&nbsp;{{ course.date }}, {{ course.time }}</td><td><a href="/curriculum/#{{ course.curriculum }}">{{ course.title }}</a><br></td><td> {% if course.student-price %} ${{ course.student-price }} (students), {% endif %} {% if course.early-bird-price %} ${{ course.early-bird-price }} (early bird - ends {{ course.early-bird-date }}), {% endif %} ${{ course.standard-price }} (standard)</td><td><center><a class="btn btn-red btn-large" href="{{ course.url }}" target="_blank">Learn More!</a></center></td></tr>
				
				{% endif %}
				{% endfor %}			

				{% for course in site.data.course-list-udemy %}
				{% if course.status == 'online' %}
				
				<tr><td><a href="/curriculum/#{{ course.curriculum }}"><img src="/img/{{ course.logo }} " alt="{{ course.title }}" width="40"></a>&nbsp;&nbsp;Online Course</td><td><a href="/curriculum/#{{ course.curriculum }}">{{ course.title }}, via Udemy</a><br></td><td><del>${{ course.standard-price }} (standard)</del>, ${{course.early-bird-price}} (special discount)</td><td><center><a class="btn btn-success btn-large" href="{{ course.url }}" target="_blank">Start Now</a></center></td></tr>
				
				{% endif %}
				{% endfor %}

				{% for course in site.data.course-list-other %}
				{% if course.status == 'on-location' %}
				
				<tr><td><a href="/curriculum/#{{ course.curriculum }}"><img src="/img/{{ course.logo }} " alt="{{ course.title }}" width="40"></a>&nbsp;&nbsp;On-Location</td><td><a href="/curriculum/#{{ course.curriculum }}">{{ course.title }}</a><br></td><td>{{ course.standard-price }}</td><td><center><a class="btn btn-info btn-large" href="{{ course.url }}" target="_blank">Get Info</a></center></td></tr>
				
				{% endif %}
				{% endfor %}

				{% for course in site.data.course-list-eventbrite %}
				{% if course.status == 'inactive' %}

				<tr><td><a href="/curriculum/#{{ course.curriculum }}"><img src="/img/{{ course.logo }} " alt="{{ course.title }}" width="40"></a>&nbsp;&nbsp;TBD</td><td><a href="/curriculum/#{{ course.curriculum }}">{{ course.title }}</a><br></td><td> TBD </td><td><center>Coming Soon</center></td></tr>

				{% endif %}
				{% endfor %}

			</table>

    <!-- /TABLE ############################################### -->
