    <div>
    
    	<div class="container">
    		
  			<div class="row head1">
    			<div class="span12" >
    				<h2>{{ page.title }}</h2>
    			</div>
          <div class="span12" >
            <p>These are the notes for Awesome Inc U's 1-day <a href="/curriculum/#{{ page.curriculum_link }}">{{ page.title }}</a>. You can also view these notes directly on <a href="https://docs.google.com/document/d/{{ page.doc_id }}/edit">Google Drive</a></p>
          </div>
      	</div>

        <div class="span8 offset2">
          <div class="row" id="starlight">
          <iframe src="https://docs.google.com/document/d/{{ page.doc_id }}/pub?embedded=true" width="820" height="{{ page.notes_height }}" frameborder="none"></iframe>
          </div>
        </div>        

    	</div> <!-- /container -->
    
    </div> <!-- /about -->