---
layout: page
---
{% comment %} 
To make changes to course information see _data/course-list-udemy.yml
{% endcomment %}
{% for course in site.data.course-list-udemy %}
    {% if course.curriculum == page.id %}

    <!--- HEADER  ########################################################-->
<!-- <div id="large-wrap"> -->
    <div id="first-row">
        <div id="side-wrap">
            <!-- <div id="app-wrap"> -->
                <div id="display-title">{{ course.landingTitle }}</div>
                <h2 id="sub-title">{{ course.title }}</h2>
                <a href="{{ course.url }}" class="btn btn-red btn-landing-page"> Enroll Now </a>
            <!-- </div> -->
        </div>
    </div>
<!-- </div> -->
    <!--- CONTENT  ########################################################-->
<div id="second-row">
    <div class="content-wrap">
        <div id="localwrap">
            <div id="screenshots-wrap">
                <div id="screenshot-title">
                    <h3 id="today">{{ course.landingHeader }} <b class="red-text"><strike>${{ course.standard-price }}.00</strike> ${{ course.discount-price }}.00</b></h3>
       
                    <p>{{ course.learn }}</p>

                    <ul id="req">
                    {% for topic in course.curriculum-contents %}
                        <li id="learn">{{ topic }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="features">
                <a href="{{ course.url }}"><img src="/img/codelearnyou.jpg" alt="Awesome Inc U - Learn to code" class="sideimg"></a>
                <div class="second-reg">
                    {{ course.landingDiscount }} </b></br></br>
                    <a href="{{ course.url }}" id="side-button" class="btn btn-red"> Enroll Now </a>
                </div>
                
            </div>
        </div>        
    </div>
</div>
<!--- FOOTER  ########################################################-->
<div id="footer-landing-page">
    <div class="content-wrap">

        <div id="signup">
            Stay updated with our new courses.

        <form class="input-footer" style="padding:0px" action="http://awesomeinc.us2.list-manage1.com/subscribe/post?u=5114422b2183673d50186748d&amp;id=159107e690" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                <input style="margin: auto" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required >

                <button type="submit" value="Stay in touch" name="subscribe" id="mc-embedded-subscribe" class="btn btn-footer">Stay in Touch</button>

        </form>
        </div>
            
    </div>
</div>
</body>
</html>
    {% endif %}
{% endfor %}
    
                        