---
layout: page
---
{% comment %} 
To make changes to course information see _data/course-list.yml
{% endcomment %}

{% for course in site.data.course-list %}
{% if course.status == 'online' and course.curriculum == page.id %}
<div class="container">

    <div class="row head2">
        <div class="span12" >
            <h2>{{ course.title }}</h2>
        </div>
    </div>

    <div class="span12">
        <div class="row">
            <div class="span10" >
                <div class="row">
                    <div class="span10">
                        <p>{{ course.headline }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span5">
                    <img src="/img/ios-crash-20140813.jpg" alt="Pic of course" width="200" height="150">
                    <img src="/img/ios-crash-screenshot4.png" alt="Xcode screenshot" width="200" height="150">
                    </div>
                    <div class="span5">
                        <ul>
                            <li>You'll make your own iPhone app with us in less than 6 hours</li>
                            <li>You'll be ready for our <a href="/curriculum/#ios-advanced">iOS Advanced Course</a></li>
                            <li>Difficulty rating: {{ course.difficulty }} </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span10">
                        <h3>What You'll Learn</h3>
                        <p>This one-day course will teach you the basics of native iOS development using Apple's Xcode development environment. By the end of the day, you will have created your own iPhone application.</p>
                        <ul>
                            {% for topic in course.curriculum-contents %}
                            <li>{{ topic }}</li>
                            {% endfor %}
                        </ul>
                        <p>Here are some screenshots of the iPhone App you will make:</p>
                        {% for screenshot in course.screenshots %}
                        <img src="/img/{{ screenshot[0] }}" alt="{{ screenshot[1] }}" width="200">
                        {% endfor %}
                        <h3>Requirements/Prereqs</h3>
                        <ul>
                            <li>Mac computer (eg MacBook Pro, MacBook Air, Mac Mini)</li>
                            <li>OSX 10.8.4 (Mountain Lion) or newer</li>
                            <li>Xcode 5 or newer (<a href="https://developer.apple.com/xcode/downloads/">free download from Mac App Store</a>)</li>
                            <li>No prior programming experience required</li>
                            <li>Suggested: Typing speed of <a href="http://10fastfingers.com/typing-test/english">40 WPM</a> or greater</li>
                        </ul>
                        <h3 id="tickets">Registration</h3>
                        <div style="width:80%; text-align:left;" class="hidden-phone">
                            <iframe src="https://www.eventbrite.com/tickets-external?eid=10533123857&ref=etckt" frameborder="0" height="339" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true">
                            </iframe>
                        </div>
                    </div> <!-- /span10 -->
                </div>
            </div>
            <div class="span2">
                <div class="row">
                    <a href="http://www.eventbrite.com/e/iphone-development-1-day-crash-course-tickets-10533123857?aff=aincwebsite" class="btn btn-large btn-success">Order Now</a>
                </div>
                <div class="row">
                    <p>23 seats remain for this session</p>
                    <p>Early-bird registration expires May 4th</p>
                    <p>Includes sample code and screencast video (additional $95 value!)</p>
                    <p>110 people have taken this course before</p>
                    <p>What they're saying:
                    {% for testamonial in course.testamonials %}
                        <br>"{{ testamonial }}"
                    {% endfor %}
                    </p>
                </div>
            </div>
        </div> 
    </div> <!-- /span12 -->

</div> <!-- /container -->
{% endif %}
{% endfor %}