---
layout: page
---
{% comment %} 
To make changes to course information see _data/course-list-eventbrite.yml
{% endcomment %}

{% for course in site.data.course-list-eventbrite %}
    {% if course.eid == page.eid %}
<!--- HEADER  ########################################################-->
<!-- <div id="large-wrap"> -->
    <div id="first-row">
        <div id="side-wrap">
            <!-- <div id="app-wrap"> -->
                <div id="display-title">{{ course.landingTitle }}</div>
                <h2 id="sub-title">{{ course.landingSubTitle }}</h2>
                <a href="{{ course.url }}" class="btn btn-red btn-landing-page"> Enroll Now </a>
            <!-- </div> -->
        </div>
    </div>
<!-- </div> -->
    <!--- CONTENT  ########################################################-->
<div id="second-row">
    <div class="content-wrap">
        <div id="localwrap">
            <div id="screenshots-wrap">
                <div id="screenshot-title">
                    <h3 id="today">{{ course.landingHeader }} </h3>
       
                    <p>{{ course.learn }}</p>

                    <ul id="req">
                    {% for topic in course.curriculum-contents %}
                        <li id="learn">{{ topic }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="features"> <!-- SIDEBAR ########################################3 -->
                <a href="{{ course.url }}"><img src="/img/codelearnyou.jpg" alt="Awesome Inc U - Learn to code" class="sideimg"></a>
                <div class="second-reg">
                    {{ course.landingDiscount }}</br></br>
                    <a href="{{ course.url }}" id="side-button" class="btn btn-red"> Enroll Now </a>
                </div>
            </div>
        </div>     
    </div>
</div>
<div style="width:80%; text-align:center; padding-left:135px;" class="hidden-phone">

    <h3 id="tickets">Registration</h3>

    <iframe src="https://www.eventbrite.com/tickets-external?eid={{ course.eid }}&ref=etckt" 
        frameborder="0" height="339" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true">

    </iframe>
</div>


 <!-- <div style="width:80%; text-align:center; padding-left:135px;" ><iframe  src=src="https://www.eventbrite.com/tickets-external?eid={{ course.eid }}&ref=etckt" frameborder="0" height="293" width="80%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe> --><!-- <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:80%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Event Registration Online</a><span style="color:#ddd;"> for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="https://kidscodecamp.eventbrite.com/?ref=etckt">Kids Code Camp - #WeekOfCode</a> <span style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt">Eventbrite</a></div> --></div>


<!--- FOOTER  ########################################################-->
<div id="footer-landing-page">
    <div class="content-wrap">

        <div id="signup">
            Stay updated with our new courses.

        <form class="input-footer" style="padding:0px" action="http://awesomeinc.us2.list-manage1.com/subscribe/post?u=5114422b2183673d50186748d&amp;id=159107e690" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                <input style="margin: auto" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required >

                <button type="submit" value="Stay in touch" name="subscribe" id="mc-embedded-subscribe" class="btn btn-footer">Stay in Touch</button>

        </form>
        </div>
            
    </div>
</div>
</body>
</html>
    {% endif %}
{% endfor %}