---
layout: page
---
{% comment %} 
To make changes to course information see _data/course-list.yml
{% endcomment %}

{% if page.format == 'eventbrite' %}
    {% for course in site.data.course-list %}
        {% if course.curriculum == page.id %}
            {% include landing-page-contents.html %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if page.format == 'udemy' %}
    {% for course in site.data.course-list-udemy %}
        {% if course.curriculum == page.id %}
            {% include landing-page-contents.html %}
        {% endif %}
    {% endfor %}
{% endif %}