---
layout: page
---
{% comment %} 
To make changes to course information see _data/course-list-udemy.yml
{% endcomment %}
{% for course in site.data.course-list-udemy %}
    {% if course.curriculum == page.id %}

    <!--- HEADER  ########################################################-->
<!-- <div id="large-wrap"> -->
     <div id="first-row">
        <div class="container">
            <div id="side-wrap">
                <div id="display-title">{{ course.landingTitle }}</div>
                    <h2 id="sub-title">{{ course.landingSubTitle }}</h2>
                    <h3>
                        <a href="{{ course.url }}" class="btn btn-red"> Enroll Now </a>
                    </h3>
            </div>
        </div>
    </div>
<!-- </div> -->
    <!--- CONTENT  ########################################################-->
<div id="second-row">
    <div class="container">
        <h3 style="margin-bottom:20px;">{{ course.landingHeader }} </h3>
        <div id="features" class="col-xs-6 col-md-4">
            <a href="{{ course.url }}"><img src="/img/codelearnyou.jpg" alt="Awesome Inc U - Learn to code" class="sideimg"></a>

            <div class="second-reg">
                    <p>{{ course.landingDiscount }}</p>
                </br>
            </div>
        </div>

        <div id="features" class="col-xs-12 col-md-6">
            <p>{{ course.learn }}</p>

            <ul id="req">
                {% for topic in course.curriculum-contents %}
                    <li style="line-height:20px; font-size:20px;">{{ topic }}</li>
                {% endfor %}
            </ul>
        </div>
             <!-- SIDEBAR ########################################3 -->
                
               
    </div>
        <h5>
        <a href="{{ course.url }}" id="side-button" class="btn btn-red"> Enroll Now </a>
    </h5>
</div>
<!--- FOOTER  ########################################################-->
<div id="footer-landing-page">
    <div class="content-wrap">

        <div id="signup">
            Stay updated with our new courses.

        <form class="input-footer" style="padding:0px" action="http://awesomeinc.us2.list-manage1.com/subscribe/post?u=5114422b2183673d50186748d&amp;id=159107e690" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                <input style="margin: auto" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required >

                <button type="submit" value="Stay in touch" name="subscribe" id="mc-embedded-subscribe" class="btn btn-footer">Stay in Touch</button>

        </form>
        </div>
            
    </div>
</div>
</body>
</html>
    {% endif %}
{% endfor %}
    
                        